.ForFlex{
    display:flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: lightgrey;
}
#Traffic{
    border:2px solid black;
    background-color: white;
}
#Traffic #Red{
    height:50px;
    width: 50px;
    border-radius:50%;
    border: 2px solid black;
    margin:5px;
    background-color: red;
}
#Traffic #Yellow{
    height:50px;
    width: 50px;
    border-radius:50%;
    border: 2px solid black;
    margin:5px;
    background-color: yellow;
}
#Traffic #Green{
    height:50px;
    width: 50px;
    border-radius:50%;
    border: 2px solid black;
    margin:5px;
    background-color: green;
}
